@charset "utf-8";

@import url("fineprint.css");

body {

  _color: red;
}

/* { } */
.content li, .content a {
  *display: inline-block;
  background: url("a.jpg")
}

@media screen {
  body { font-size: 13px }

  .content li {
    background-color: #fff;
  }
}

@keyframes foo {
  0% { top: 0; left: 0 }
  100% { top: 100px; left: 100% }
}

:root .content {
    font-size: 12px;
}
